<p>
<h1>Hello World</h1>
session views: <%= session.views %><br/>
pid: <%= pid %><br/>
hostname: <%= hostname %><br/>
version:<%= version %><br/>
</p>
<p>
  <% for (var person of persons) { %>
<div><%= person.firstname || '' %> <%= person.lastname || '' %></div>
<% } %>
</p>
